
/* virtual */
.virtual__create{
    display: flex;
    justify-content: space-between;
}

/* total credits section */
.total__field {
  background:#fff;
  display: flex;
  gap: 70px;
  padding: 8px 20px;
  margin: 10px 10px 0 10px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  line-height: 0;
}

.total__content h4 {
  /* font-family: "HelveticaNeueCyr"; */
  font-style: normal;
  font-weight: 550;
  font-size: 19px;
  display: flex;
  align-items: center;
  color: #000000;
}

.total__content p {
  /* font-family: "HelveticaNeueCyr"; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #65717c;
}

/* Virtual accounts section */
.user__transactions {
  margin: 5px 10px;
  background:#fff;
  border-radius: 5px;
  height: 68.8vh;
}

.branch__search {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.button__search img{
  position: relative;
  right: 30px;
  top: 3px;
}
/* .button__search {
  flex-direction: row;

} */
.button__search input {
  width: 474px;
  border: 0.5px solid #e1e1e1;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  background: #fff;
  color: #65717c;
}

/* Bank inflow */

.details {
  padding: 0 20px;
}
.bank__titles {
  display: flex;
  align-items: flex-start;
  gap: 180px;
  padding: 0 20px;
  padding-top: -200px;
  
}

/* bank details */
.bank__details {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  /* justify-content: space-between; */
}
