.sidebar {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    padding: 0 50px 0 30px;
    height: 89vh;
}


.sidebar__items, .lower__content {
  display: flex;
  align-items: center;
  gap: 10px;
}


.sidebar__items, .lower__content, p {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #65717c;
}

.lower__sidebar{
    padding-top:120px;
}