.sidebar {
    display: flex;
    flex-direction: column;
    background:#fff;
    height: 89vh;
}


.sidebar__items{
  display: flex;
  align-items: flex-start;
    padding: 0 35px 0 30px;

  

}
.sidebar__items, .lower__content {
  display: flex;
  align-items: center;
  gap: 10px;
}


.sidebar__items, .lower__content, p {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #65717c;
}

.lower__content{
  padding: 0px 0px 0px 30px;
}
.lower__sidebar{
  padding: 120px 35px 0 0;
    width: 100%;
}